<h2>Template <small>Dinámicos</small></h2>
<hr>

<form #miFormulario="ngForm" (ngSubmit)="guardar()" autocomplete="off">
    <div class="mb-3 row">
        <label class="col-sm-3 col-form-label">Nombre</label>
        <div class="col-sm-9">
            <input type="text" class="form-control" [ngModel]="persona.nombre" name="nombre" placeholder="Nombre"
                required>
            <span *ngIf="miFormulario.controls.nombre?.errors && miFormulario.controls.nombre?.touched"
                class="form-text text-danger">El nombre es
                obligatorio</span>
        </div>
    </div>


    <div class="mb-3 row">
        <label class="col-sm-3 col-form-label">Agregar</label>
        <div class="col-sm-9">
            <div class="input-group">
                <input type="text" class="form-control" (keyup.enter)="agregarJuego()" [(ngModel)]="nuevoJuego" name="nuevoJuego" placeholder="Agregar favorito">
                <button class="btn btn-outline-primary" type="button" (click)="agregarJuego()"> Agregar</button>
            </div>
        </div>
    </div>
    <div class="mb-3 row">
        <label class="col-sm-3 col-form-label">Favoritos</label>
        <div class="col-sm-9">
            <div class="input-group mb-1 " *ngFor="let juego of persona.favoritos; let i=index">
                <input class=" form-control" [(ngModel)]="juego.nombre" name="favorito_{{i}}" required>
                <button class="btn btn-outline-danger" type="button" (click)="eliminar(i)"> Borrar</button>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12">
            <button type="button" (click)="guardar()" [disabled]="miFormulario.invalid"
                class="btn btn-primary float-end" required> Guardar</button>
        </div>
    </div>
</form>

<span>
    Persona
</span>
<pre>{{persona|json}}</pre>