<h2>Template <small>Switches</small></h2>
<hr>

<form #miFormulario="ngForm">
    <div class="row mb-3">
        <label class="col-sm-3 col-form-label"> Género</label>
        <div class="col-sm-9">
            <div class="form-check">
                <input class="form-check-input" value="M" type="radio" name="radioGenero" [(ngModel)]="persona.genero"
                    id="radioMasculino" required>
                <label class="form-check-label" for="radioMasculino">
                    Masculino
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" value="F" [(ngModel)]="persona.genero" type="radio" name="radioGenero"
                    id="radioFemenino" required>
                <label class="form-check-label" for="radioFemenino">
                    Femenino
                </label>
            </div>
        </div>
    </div>

    <div class="row mb-3">
        <label class="col-sm-3 col-form-label"> Notificaciones</label>
        <div class="col-sm-9">
            <div class="form-check form-switch mt-2">
                <input class="form-check-input" type="checkbox" [(ngModel)]="persona.notificaciones"
                    name="notificaciones" id="switchNotificaciones">
                <label class="form-check-label" for="switchNotificaciones">Quiero recibir notificaciones</label>
            </div>
        </div>
    </div>
    <div class="row mb-3">
        <label class="col-sm-3 col-form-label"> </label>
        <div class="col-sm-9">
            <div class="form-check">
                <input class="form-check-input" type="checkbox" name="terminos" [(ngModel)]="terminosYCondiciones"
                    value="" id="defaultCheck1" required>
                <label class="form-check-label" for="defaultCheck1">
                    Acepto los Términos y condiciones
                </label>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <button [disabled]="miFormulario.invalid" class="btn btn-primary float-end">Guardar</button>
        </div>
    </div>

</form>

<h5>Valor del formulario</h5>
<pre>{{miFormulario.value|json}}</pre>
<h5>Valor de Persona</h5>
<pre>{{persona|json}}</pre>
<h5>Valid</h5>
<pre>{{miFormulario.valid}}</pre>
<h5>Términos</h5>
<pre>{{miFormulario.controls?.terminos?.errors | json}}</pre>
<h5>Condiciones</h5>