<h2>Validaciones Reactivas </h2>
<hr>

<div class="row">
    <div class="col">
        <form autocomplete="off">
            <div class="row mb-3">
                <div class="col-sm-9">
                    <label class="col-sm-3 co-form-label">Nombre</label>
                    <input type="text" class="form-control" placeholder="Nombre">
                    <span class="form-text text-danger"> Debe ser en formato de nombre y apellido</span>
                </div>
            </div>
            <div class="row mb-3">
                <div class="col-sm-9">
                    <label class="col-sm-3 co-form-label">Email</label>
                    <input type="email" class="form-control" placeholder="Email">
                </div>
            </div>
            <div class="row mb-3">
                <div class="col-sm-9">
                    <label class="col-sm-3 co-form-label">Username</label>
                    <input type="text" class="form-control" placeholder="Username">
                </div>
            </div>
            <div class="row mb-3">
                <div class="col-sm-9">
                    <label class="col-sm-3 co-form-label">Contraseña</label>
                    <input type="password" class="form-control" placeholder="Contraseña">
                </div>
            </div>
            <div class="row mb-3">
                <div class="col-sm-9">
                    <label class="col-sm-3 co-form-label">Contraseña</label>
                    <input type="password" class="form-control" placeholder="Confirmar Contraseña">
                </div>
            </div>
            <div class="row">
                <div class="col-sm-9">
                    <button class="btn btn-primary float-end">Crear</button>
                </div>
            </div>
        </form>
    </div>
</div>